*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
#banar-ariya{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
}
.logo h2{
  font-size: 45px;
  font-weight: 900;
}
.logo-style{
  color: #FD6E0A;
}
.logo-style2{
  color: rgb(13, 168, 59);
}
.h{
  color: #FD6E0A;
}
.nevigation{
  width: 71%;
  max-width: 1100px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nevigation .menu{
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
}
.nevigation .menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
/* shered style */
.btn{
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.about-heading{
  max-width: 827px;
  text-align: center;
}
.about-heading h2{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
.about-heading p{
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
/* nva bar close */
#banar{
  margin: 47px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.banar-contant{
  max-width: 585px;
}
.banar-contant h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
.banar-contant h1{
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
.banar-contant p{
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
.banar-image img{
  max-width: 584px;
  vertical-align: middle;
}
/* About section */
#about-section{
  padding-top: 230px;
  /* background-color: #e5670d; */
}
.about-container{
  width: 71%;
  max-width: 1637px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 130px 157px;
}
.about-into{
  display: flex;
  justify-content: space-around;
}
.about-into p{
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
.abouto-into h4{
  font-size: 20px;
  font-weight: bold;
  color: #474747;
}